
@{
    ViewBag.Title = "Relatório Reitoria";
}
@section Styles{

    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/css/site.css" />
    <script src="~/lib/select2/js/select2.js"></script>
    <link rel="stylesheet" href="~/lib/DataTables/datatables.css" />
    <script src="~/lib/DataTables/datatables.min.js"></script>

}
<h2>Relatório Reitoria</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group" id="divAno" style="display: block;">
            <label class="control-label" style="font-weight: bold;">Ano</label>
            <select id="Id_Ano" class="form-control" onchange="BuscaRelatorio()" style="width:100%"></select>
        </div>
    </div>
    <div class="col-md-6"></div>
    <hr />

    <div class="col-md-1"></div>
    <div class="col-md-10" id="conteudoRelatorio" style="display:none;">
        <h6>Dados relativos a formatação das provas avaliadas</h6>
        <table border="1">
            <thead>
                <tr style="text-align:center;">
                    <th style="width:532px;">Critérios de análise</th>
                    <th colspan="2">Apresenta adequadamente</th>
                    <th colspan="2">Não apresenta adequadamente</th>
                    <th>Total Geral</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Valor da prova explícito</td>
                    <td id="valorExplicitoTrueNumero" style="text-align:center"></td>
                    <td id="valorExplicitoTruePorcentagem" style="text-align:center;width:60px;"></td>
                    <td id="valorExplicitoFalseNumero" style="text-align:center"></td>
                    <td id="valorExplicitoFalsePorcentagem" style="text-align:center;width:60px;"></td>
                    <td id="valorExplicitoTotal" style="text-align:center; width:120px;"></td>
                </tr>
                <tr>
                    <td>Valor das questões explícito</td>
                    <td id="valorQuestoesExplicitoTrueNumero" style="text-align:center"></td>
                    <td id="valorQuestoesExplicitoTruePorcentagem" style="text-align:center;width:60px;"></td>
                    <td id="ValorQuestoesExplicitoFalseNumero" style="text-align:center"></td>
                    <td id="ValorQuestoesExplicitoFalsePorcentagem" style="text-align:center;width:60px;"></td>
                    <td id="ValorQuestoesExplicitoTotal" style="text-align:center; width:120px;"></td>
                </tr>
                <tr>
                    <td>Somatório dos valores das questões</td>
                    <td id="somatorioValoresTrueNumero" style="text-align:center"></td>
                    <td id="somatorioValoresTruePorcentagem" style="text-align:center;width:60px;"></td>
                    <td id="somatorioValoresFalseNumero" style="text-align:center"></td>
                    <td id="somatorioValoresFalsePorcentagem" style="text-align:center;width:60px;"></td>
                    <td id="somatorioValoresTotal" style="text-align:center; width:120px;"></td>
                </tr>
                <tr>
                    <td>Referências bibliográficas</td>
                    <td id="referenciasTrueNumero" style="text-align:center">XX</td>
                    <td id="referenciasTruePorcentagem" style="text-align:center;width:60px;">XX%</td>
                    <td id="referenciasFalseNumero" style="text-align:center">X</td>
                    <td id="referenciasFalsePorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="referenciasTotal" style="text-align:center; width:120px;">X</td>
                </tr>
                <tr>
                    <td>Equilíbrio na distribuição dos valores das questões</td>
                    <td id="equilibrioTrueNumero" style="text-align:center">XX</td>
                    <td id="equilibrioTruePorcentagem" style="text-align:center;width:60px;">XX%</td>
                    <td id="equilibrioFalseNumero" style="text-align:center">X</td>
                    <td id="equilibrioFalsePorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="equilibrioTotal" style="text-align:center; width:120px;">X</td>
                </tr>
            </tbody>
        </table>

        <hr />
        <h6>Análise de aspectos pedagógicos</h6>
        <table border="1" style="width:920px;">
            <thead>
                <tr style="text-align:center;">
                    <th style="width:532px;">Critérios de análise</th>
                    <th colspan="2">Sim</th>
                    <th colspan="2">Não</th>
                    <th>Total Geral</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Possui questões de Múltipla escolha e Discursivas</td>
                    <td id="questoesMEEDTrueNumero" style="text-align:center">XX</td>
                    <td id="questoesMEEDTruePorcentagem" style="text-align:center;width:60px;">XX%</td>
                    <td id="questoesMEEDFalseNumero" style="text-align:center">X</td>
                    <td id="questoesMEEDFalsePorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="questoesMEEDTotal" style="text-align:center; width:120px;">X</td>
                </tr>
                <tr>
                    <td>
                        Apresenta, explicitamente, diversificação na
                        avaliação?
                    </td>
                    <td id="diversificacaoTrueNumero" style="text-align:center">XX</td>
                    <td id="diversificacaoTruePorcentagem" style="text-align:center;width:60px;">XX%</td>
                    <td id="diversificacaoFalseNumero" style="text-align:center">X</td>
                    <td id="diversificacaoFalsePorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="diversificacaoTotal" style="text-align:center; width:120px;">X</td>
                </tr>
                <tr>
                    <td>
                        A prova possui, pelo menos, uma questão
                        contextualizada?
                    </td>
                    <td id="contextualizacaoTrueNumero" style="text-align:center">XX</td>
                    <td id="contextualizacaoTruePorcentagem" style="text-align:center;width:60px;">XX%</td>
                    <td id="contextualizacaoFalseNumero" style="text-align:center">X</td>
                    <td id="contextualizacaoFalsePorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="contextualizacaoTotal" style="text-align:center; width:120px;">X</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <h6>Contagem de complexidade</h6>
        <table border="1" style="width:920px;">
            <thead>
                <tr style="text-align:center;">
                    <th style="width:532px;">Grau de complexidade</th>
                    <th>N</th>
                    <th>%</th>
                    <th>N</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Conhecimento</td>
                    <td id="conhecimentoNumero" style="text-align:center">X</td>
                    <td id="conhecimentoPorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="valorExplicitoP" style="text-align:center;width:60px;"></td>
                </tr>
                <tr>
                    <td>Compreensão</td>
                    <td id="compreensaoNumero" style="text-align:center">X</td>
                    <td id="compreensaoPorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="numero13" style="text-align:center">XXX</td>
                    <td id="numero13porcentagem" style="text-align:center;width:60px;">XXX%</td>
                </tr>
                <tr>
                    <td>Aplicação</td>
                    <td id="aplicacaoNumero" style="text-align:center">X</td>
                    <td id="aplicacaoPorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="valorExplicitoP" style="text-align:center;width:60px;"></td>
                </tr>
                <tr>
                    <td>Análise</td>
                    <td id="analiseNumero" style="text-align:center">X</td>
                    <td id="analisePorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="valorExplicitoP" style="text-align:center;width:60px;"></td>
                </tr>
                <tr>
                    <td>Síntese</td>
                    <td id="sinteseNumero" style="text-align:center">X</td>
                    <td id="sintesePorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="numero23" style="text-align:center"></td>
                    <td id="numero23porcentagem" style="text-align:center;width:60px;"></td>
                </tr>
                <tr>
                    <td>Avaliação</td>
                    <td id="avaliacaoNumero" style="text-align:center">X</td>
                    <td id="avaliacaoPorcentagem" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="valorExplicitoP" style="text-align:center;width:60px;"></td>
                </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td>Total Geral</td>
                    <td id="totalGeralNumero" style="text-align:center">X</td>
                    <td id="TotalPorcentagem" style="text-align:center;width:60px;">100%</td>
                    <td id="totalGeralNumero2" style="text-align:center">XXX</td>
                    <td id="valorExplicitoP" style="text-align:center;width:60px;">100%</td>
                </tr>
            </tfooter>
        </table>
        <hr />
        <h6>Contagem de complexidade nas questões por área</h6>
        <table border="1" style="width:920px;">
            <thead>
                <tr style="text-align:center;">
                    <th style="width:532px;">Grau de complexidade</th>
                    <th>N</th>
                    <th colspan="2">Exatas %</th>
                    <th>N</th>
                    <th colspan="2">Humanas %</th>
                    <th>N</th>
                    <th colspan="2">Saúde %</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Conhecimento</td>
                    <td id="conhecimentoNumeroExatas" style="text-align:center">X</td>
                    <td id="conhecimentoPorcentagemExatas" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="conhecimentoNumeroHumanas" style="text-align:center">X</td>
                    <td id="conhecimentoPorcentagemHumanas" style="text-align:center;width:60px;">X%</td>
                    <td id="" style="text-align:center"></td>
                    <td id="conhecimentoNumeroSaude" style="text-align:center">X</td>
                    <td id="conhecimentoPorcentagemSaude" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                </tr>
                <tr>
                    <td>Compreensão</td>
                    <td id="compreensaoNumeroExatas" style="text-align:center">X</td>
                    <td id="compreensaoPorcentagemExatas" style="text-align:center;width:60px;">X%</td>
                    <td id="numero13Exatas" style="text-align:center">X%</td>
                    <td id="compreensaoNumeroHumanas" style="text-align:center">X</td>
                    <td id="compreensaoPorcentagemHumanas" style="text-align:center;width:60px;">X%</td>
                    <td id="numero13Humanas" style="text-align:center">X%</td>
                    <td id="compreensaoNumeroSaude" style="text-align:center">X</td>
                    <td id="compreensaoPorcentagemSaude" style="text-align:center;width:60px;">X%</td>
                    <td id="numero13Saude" style="text-align:center">x%</td>
                </tr>
                <tr>
                    <td>Aplicação</td>
                    <td id="aplicacaoNumeroExatas" style="text-align:center">X</td>
                    <td id="aplicacaoPorcentagemExatas" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="aplicacaoNumeroHumanas" style="text-align:center">X</td>
                    <td id="aplicacaoPorcentagemHumanas" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="aplicacaoNumeroSaude" style="text-align:center">X</td>
                    <td id="aplicacaoPorcentagemSaude" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                </tr>
                <tr>
                    <td>Análise</td>
                    <td id="analiseNumeroExatas" style="text-align:center">X</td>
                    <td id="analisePorcentagemExatas" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="analiseNumeroHumanas" style="text-align:center">X</td>
                    <td id="analisePorcentagemHumanas" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="analiseNumeroSaude" style="text-align:center">X</td>
                    <td id="analisePorcentagemSaude" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                </tr>
                <tr>
                    <td>Síntese</td>
                    <td id="sinteseNumeroExatas" style="text-align:center">X</td>
                    <td id="sintesePorcentagemExatas" style="text-align:center;width:60px;">X%</td>
                    <td id="numero23Exatas" style="text-align:center">X%</td>
                    <td id="sinteseNumeroHumanas" style="text-align:center">X</td>
                    <td id="sintesePorcentagemHumanas" style="text-align:center;width:60px;">X%</td>
                    <td id="numero23Humanas" style="text-align:center">X%</td>
                    <td id="sinteseNumeroSaude" style="text-align:center">X</td>
                    <td id="sintesePorcentagemSaude" style="text-align:center;width:60px;">X%</td>
                    <td id="numero23Saude" style="text-align:center">x%</td>
                </tr>
                <tr>
                    <td>Avaliação</td>
                    <td id="avaliacaoNumeroExatas" style="text-align:center">X</td>
                    <td id="avaliacaoPorcentagemExatas" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="avaliacaoNumeroHumanas" style="text-align:center">X</td>
                    <td id="avaliacaoPorcentagemHumanas" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="avaliacaoNumeroSaude" style="text-align:center">X</td>
                    <td id="avaliacaoPorcentagemSaude" style="text-align:center;width:60px;">X%</td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td>Total Geral</td>
                    <td id="totalGeralNumeroExatas" style="text-align:center">X</td>
                    <td id="valorExplicitoP" style="text-align:center;width:60px;"></td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="totalGeralNumeroHumanas" style="text-align:center">X</td>
                    <td id="valorExplicitoP" style="text-align:center;width:60px;"></td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                    <td id="totalGeralNumeroSaude" style="text-align:center">X</td>
                    <td id="valorExplicitoP" style="text-align:center;width:60px;"></td>
                    <td id="valorExplicitoP" style="text-align:center"></td>
                </tr>
            </tfooter>
        </table>
    </div>
    <div class="col-md-1"></div>
    <div id="divErro">

    </div>
</div>

@section ScriptPage{
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/DataTables/datatables.min.js"></script>
    </environment>
    <link rel="stylesheet" href="~/lib/DataTables/datatables.css" />

    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/js/Relatorios/Reitoria.js"></script>
    <script>
        $(document).ready(function () {
            BuscaAnos();
        })
    </script>
}


