@model ProjetoNADD.Models.Curso
<div id="cabecalho">
    <h5>Visualizar Área</h5>
</div>
<div id="conteudo_create">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Curso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Curso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area.Nome_Area)
        </dd>
    </dl>
</div>
