@model ProjetoNADD.Models.Questao

<div id="cabecalho">

    <h5>Editar Questão</h5>
</div>
<div id="conteudo_create">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id_Questao" />
                <div class="form-group">
                    <label asp-for="Id_Numero" class="control-label"></label>
                    <input asp-for="Id_Numero" class="form-control" />
                    <span asp-validation-for="Id_Numero" class="text-danger"></span>
                </div>
                <input type="hidden" id="Id_Avaliacao" value="@Html.DisplayNameFor(model => model.Id_Avaliacao)" />
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Contextualizacao_Questao" /> @Html.DisplayNameFor(model => model.Contextualizacao_Questao)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Clareza_Questao" /> @Html.DisplayNameFor(model => model.Clareza_Questao)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Complexidade_Questao" class="control-label"></label>
                    <input asp-for="Complexidade_Questao" class="form-control" />
                    <span asp-validation-for="Complexidade_Questao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Observacoes_Questao" class="control-label"></label>
                    <input asp-for="Observacoes_Questao" class="form-control" />
                    <span asp-validation-for="Observacoes_Questao" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>
