@model ProjetoNADD.Models.Professor

<div id="cabecalho">
    <h5>Excluir Professor</h5>
</div>
<div id="conteudo_create">
    <h6>Tem certeza que deseja excluir esse professor?</h6>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" value="@Html.DisplayFor(model => model.Id_Professor)" id="Id_Professor" />
            <dt>
                @Html.DisplayNameFor(model => model.Nome_Professor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome_Professor)
            </dd>
        </dl>
    </div>
</div>
