@model ProjetoNADD.Models.Professor

<div id="cabecalho">
    <h5>Visualizar Professor</h5>
</div>
<div id="conteudo_create">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Professor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Professor)
        </dd>
    </dl>
</div>
