@model ProjetoNADD.Models.Professor

<div id="cabecalho">

    <h5>Editar Professor</h5>
</div>
<div id="conteudo_create">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id_Professor" id="Id_Professor" />
                <div class="form-group">
                    <label asp-for="Nome_Professor" class="control-label"></label>
                    <input asp-for="Nome_Professor" class="form-control" />
                    <span asp-validation-for="Nome_Professor" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>