@model ProjetoNADD.Models.Area

<div id="cabecalho">
    <h5>Excluir Área</h5>
</div>
<div id="conteudo_create">
    <h6>Tem certeza que deseja excluir essa Área?</h6>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" value="@Html.DisplayFor(model => model.Id_Area)" id="Id_Area" />
            <dt>
                @Html.DisplayNameFor(model => model.Nome_Area)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome_Area)
            </dd>
        </dl>
    </div>
</div>
