@model ProjetoNADD.Models.Area
<div id="cabecalho">
    <h5>Visualizar Área</h5>
</div>
<div id="conteudo_create">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Area)
        </dd>
    </dl>
</div>
